<nav class="navbar mainNavbar justify-content-between">
    <a href="./" class="btn main text-uppercase"><i class="bi bi-house""></i></a>
    <p class="navbar-brand navText"> <b>IA generativa</b></p>
    <picture class="">
        <source srcset="" type="image/svg+xml">
            <img src="https://www.entelgy.com/media/k2/items/cache/0b7f765dc2b2c63601b8f76af2a8576c_XL.jpg" class="img-fluid img-thumbnail" width="100" height="100">
        </a>        
    </picture>
    <li class="navbar-brand nav-item dropdown">
        <a class="nav-link dropdown-toggle mainToogle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-cpu-fill"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <h6 class="dropdown-header"> NLP </h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/gpt3"><i class="bi bi-body-text">GPT-3</i></a>
            <h6 class="dropdown-header"> Imagenes </h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/dall-e2"><i class="bi bi-file-image"> Dall-e 2</i></a>
            <a class="dropdown-item" href="/dall-e2"><i class="bi bi-file-image"> Stable difussion</i></a>
            <h6 class="dropdown-header"> Voz </h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://valle-demo.github.io/" target="_blank"><i class="bi bi-voicemail"> Vall-e</i></a>
        </div>
    </li>
</nav>